<div class="center hero-unit">
	<h1>TennisPro Coaching System</h1>
	<h5>This is a prototype tennis coaching management tool for tennis professionals</h5>
	<%= link_to "Login", '#', class: "btn btn-large btn-primary" %>
	<p>If you wish to join our school please provide your details on the <a href="http://#">Contact Us</a> page.</p>
</div>
