@import "bootstrap";

/* Mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* UNIVERSAL CSS ELEMENTS */

html {
	overflow-y: scroll;
}

body {
	font-size: 90%;
	padding-top: 70px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
	margin-bottom: 30px;
	}
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h5 {
	line-height: 1;
}

.tpro {
	color: #006600;
}

h1 {
	color: #006600;
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #707070;
}

p {
	color: #707070;
	font-size: 1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #006600;
/*  text-transform: uppercase; */
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
  		color: #339933;
		text-decoration: none;
	}
}
/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #006600;
	color: #707070;
	a {
		color: #555;
		&:hover { 
  			color: #006600;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 20px;
		}
	}
}

/* Miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}